.home-wrapper {
    width: 100%;
}

.home-welcome {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-size: 48px;
    transform: translateY(15vh);
}

.sign-up-btn-home {
    background-color: #feaa48;
    color: white;
    border-style: none;
    position: relative;
    width: 220px;
    left: calc(50% - 110px);
    border-radius: 30px;
    font-size: 36px;
    height: 60px;
    position: relative;
    top: 30vh;
}

.sign-up-btn-home:hover {
    background-color: #feaa48;
    color: white;
    background-color: #f4b56b;
}
